@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Ubuntu&display=swap');

:root {
   --main-color:#C59D8B; 
   --black:#13131a;
   --bg:#33201a;
   --border:.1rem solid rgba(225,225,225,.3)
}

* {
    margin: 0; padding:0;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size:62,5%;
    overflow-x:hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrolbar{
    width:.8rem;
}

html::-webkit-scrolbar-track{
    background: transparent;
}

html::-webkit-scrolbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

/* This is style for HEADER */

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}

.header .logo img{
    height:8rem;    
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--main-color);
}

.header .navbar a:hover{
    color:#fff;
    border-bottom: .1rem solid #fff;
    padding-bottom: .5rem;
}

/*https://www.flaticon.com/free-icons/hamburger - Hamburger icons created by feen - Flaticon */
.menu-icon{
    height:3rem;
    display:none;
}

.menu-button {
    
}

.header .icons div{
    cursor: pointer;
    margin-left: 2rem;
}



/* This is style for MAIN PAGE*/

.home {
    min-height: 100vh;  
    display: flex;
    align-items: center;
    background: url(images/deski.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .home .content {
    max-width: 60rem;    
  }

  .home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color:#fff;
  }
  .home .content p{
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
  }













@media (max-width:991px){
    html{
        font-size:62,5%;
    }

    .header {
        padding: 1.5rem;
    }
    section {
        padding: 2rem;
    }
    
}

@media (max-width:991px){
    .menu-icon{
        display:inline-block;
    }

    .header .navbar {
        position: absolute;
        top:100%; right: 0;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }
    
    .header .navbar a{
        color:var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem ;
    }
}